.css_ContactHeader{
    background-image: url("/assets/images/bg.jpg");
    border-radius: 5px;
}

.css_FormSubmitButton{
    background-image: url("/assets/images/bg.jpg");
    width:40%;
    padding:15px;
    border-radius: 5px;
    background-color: black !important;
}

.css_FullForm{
    border: 2px solid #343a40;
}

.form-check-label{
    color:#757575 !important;
}

.form-check{
    text-align: left !important;
    padding: 0px 0px 30px 0px !important;
    color: grey !important;
    font-size:14px !important;
}

#form-checkbox.form-check-label{
padding: 0px 0px 16px 25px !important;
margin-right: 0px !important;
}