@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


.font{
    padding:2000px 0px;
    font-size:72px;
    font-family: 'Bebas Neue', cursive;

}


.font1{
    color:#33b5e5;
}

.font2{
    color:white;
}