.css_DiscographySection {
  min-height: 600px;
}

.css_Discography {
  padding-top: 10px;
  padding-bottom: 10px;
}

.css_imageDiscography {
  width: 100%;
}

.flex {
  background-image: url("/assets/images/bg.jpg") !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  height: 85px !important;
}

.toggle-play-button {
  background-color: transparent !important;
  margin-top: 5px !important;
  width: 50px !important;
  height: 50px !important;
}

.pause-icon {
  color: white !important;
  box-shadow: black 7px 0px 0px 0px inset !important;
}

.audio-info {
  display: none !important;
}

.indicator {
  background: white !important;
  margin-top: 17px !important;
  margin-left: -10px !important;
}

.progress-bar {
  width: 96% !important;
  margin-top: 17px !important;
  margin-left: -10px !important;
}

.time {
  display: none !important;
}

@media only screen and (min-width: 1100px) {
  .css_CardRow {
    min-height: 650px;
  }

  .css_DiscographySection {
    min-height: 700px;
  }
}

@media only screen and (max-width: 800px) {
  .css_DiscographySection {
    min-height: 500px;
  }

  .css_CalInBetweenCards {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
    .css_DiscographySection {
      min-height: 400px;
    }
  }

  @media only screen and (max-width: 485px) {
    .css_DiscographySection {
      min-height: 330px;
    }
  }

