.css_BandMemberContainer {
  padding: 50px;
  min-height: 700px;
}

@media only screen and (min-width: 1500px) {
  .css_CardRow {
    max-width: 1500px;
    margin: auto;
  }
}

@media only screen and (max-width: 1300px) {
    .css_BandMemberContainer {
      min-height: 100px;
      padding: 20px;
    }
  }

@media only screen and (max-width: 1000px) {
  .css_BandMemberContainer {
    display: none;
  }
}
